#OS junk files
[Tt]humbs.db
*.DS_Store

#(La)TeX-related
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.run.xml
*.tps
*blx.bib
*.lol
*.synctex.gz(busy)
*.synctex
*.nls
*.orig
/*.tcp
/*.project
/*.texlipse
/*.pdf
/.settings

*.*~
